@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: theme(colors.offwhite);
  --surface: theme(colors.white);
  --foreground: theme(colors.black);
  --foreground-1: theme(colors.gray.800);
  --foreground-2: theme(colors.gray.200);
  --foreground-primary: theme(colors.primary.DEFAULT);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.black);
    --surface: theme(colors.gray.950);
    --foreground: theme(colors.white);
    --foreground-1: theme(colors.gray.300);
    --foreground-2: theme(colors.gray.700);
    --foreground-primary: theme(colors.primary.200);
  }
  
}

body {
  color: var(--foreground);
  background: var(--background);
}

.swiper-thumbs .swiper-slide:not(.swiper-slide-thumb-active) {
  @apply opacity-60;
}

.gallery-swiper .swiper-button-prev,
.gallery-swiper .swiper-button-next {
  @apply text-white;
}